* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bac5dd;
    color: #fff;
}
#container {
    width: 70%;
    width: 1312px;
    margin: 0px auto;
    font-family: sans-serif;
}
header {
    height: 580px;
    background: url(./img/picture1.jpg);
    text-align: center
}
header h1 {
    padding-top: 23%;
    padding-left: 8%;
    font-size: 4.5em;
}
nav {
    height: 5em;
    background-color: #5473b4;
}
nav ul li {
    width: 19%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    line-height: 4.2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.row {
    width: 100%;
    height: 492px;
}
.left {
    margin-right: 1em;
    width: 50%;
    float: left;
}
.right {
    margin-left: 1em;
    width: 50%;
    float: right;
}
section {
    background-color: #ccc;
}
section div p {
    padding: 1em;
    color: #333;
    line-height: 1.6;
    font-size: 0.8em;
    text-align: justify;
}
section div img {
    width: 100%;
}
footer {
    background-color: #fff;
    height: 200px;
}
footer p {
    color: #333;
    text-align: center;
    line-height: 240px;
}

