/*
* File: style.css
* Author: Faragó Csaba
* Copyright: 2022, Faragó Csaba
* Group: Szoft I-1-E
* Date: 2022-11-18
* Github: https://github.com/szalami/hazi-dolgozat
          https://szalami.github.io/hazi-dolgozat/
* Licenc: GNU GPL
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bac5dd;
    color: #fff;
}
#container {
    width: 70%;
    width: 1312px;
    margin: 0px auto;
    font-family: sans-serif;
}
header {
    height: 580px;
    background: url(./img/picture1.jpg);
    text-align: center
}
header h1 {
    padding-top: 23%;
    padding-left: 8%;
    font-size: 4.5em;
}
nav {
    height: 5em;
    background-color: #5473b4;
}
nav ul li {
    width: 19%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    line-height: 4.2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.row {
    width: 100%;
    height: 492px;
}
.left {
    margin-right: 1em;
    width: 50%;
    float: left;
}
.right {
    margin-left: 1em;
    width: 50%;
    float: right;
}
section {
    background-color: #ccc;
}
section div p {
    padding: 1em;
    color: #333;
    line-height: 1.6;
    font-size: 0.8em;
    text-align: justify;
}
section div img {
    width: 100%;
}
footer {
    background-color: #fff;
    height: 200px;
}
footer p {
    color: #333;
    text-align: center;
    line-height: 240px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5473b4;
    min-width: 260px;
    z-index: 1;
  }
.dropdown-content a {
    display: block;
}
.dropdown-content a:hover {
    color: #333;
}
.dropdown:hover .dropdown-content {
    display: block;
  }

.down-arrow {
    width: 12px;
    margin-left: 16px;
    margin-bottom: 4px;
}